<style>
  .texto {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
  }

</style>


<% generarOpcionesReserva %>
<%= form_with url: redirect_path,model: reserva do |form| %>
  <% flash.each do |key, value| %>
    <div style="color: red">
      <ul>
        <li><%= value %></li>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email, "Enter a email: ", style: "display: block"%>
    <%= form.email_field :email, class: "texto"%>
  </div>

  <div>
    <%= form.label :horario, "Confirm the required schedule: ", style: "display: block" %>
    <%= form.select :horario, options_for_select(@botones.keys), class: "select"%>
  </div>
  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
