<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Usuarios con Calendario</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f4f8;
            margin: 0;
            padding: 0;
            justify-content: center;
            align-items: center;
        }

        .eliminar {
          background-color: #4CAF50;
          color: white;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          border-radius: 4px;
          margin: 10px auto;
        }

        .eliminar:hover {
          background-color: #45a049;
        }

        .container2{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 100px auto;
        }

        .container{
          background-color: white;
          height: 100%;
          width: 400px;
          margin: 20px;
          border-radius: 50px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          padding: 80px;
        }

        .cuadroTexto{
          display: flex;
          height: 50px;
          width: 500px;
          max-width: max-content;
          max-height: max-content;
        }

    </style>
</head>
<body>
    <%= button_to "Delet this reservation", delete_reserva_path, method: :delete , class: "eliminar" %>
    <div class= "container2">
        <div class= "container">
            <h1>The event you are registered for is:
                <div>
                    <%= @evento.eventName %>
                </div>
            </h1>
            <h3>Description:<%= @evento.description %></h3>
            <br>
            <%= "From #{@evento.start_time.strftime("%I:%M %p")} to #{@evento.end_time.strftime("%I:%M %p")}" %>
            <br>
            <h3>The time you checked in is:
                <div style="color: green">
                    <%= @reserva.horario.strftime("%I:%M %p") %>
                </div>
            </h3>
            <div style="color: red">
                <%= "ATTENTION: You can select between the remaining schedules or simply go back so as not to lose your selected schedule" %>
            </div>


        </div>
        <div class= "container">
            <h1>Change the schedule here</h1>
            <h4><%= "You booked with #{@reserva.email} email " %><h4>
            <% generarOpcionesReserva %>
            <%= form_with url: update_reserva_path,model: @reserva do |form| %>
                <% flash.each do |key, value| %>
                    <div style="color: red">
                        <ul>
                            <li><%= value %></li>
                        </ul>
                    </div>
                <% end %>

                <div>
                    <%= form.label :horario, "Available times: ", style: "display: block" %>
                    <%= form.select :horario, options_for_select(@botones.keys), class: "select"%>
                </div>
                <br>

                <div>
                    <%= form.submit %>
                </div>
            <% end %>
            <br>
            <div>
                <%= link_to "Return to main page", user_path(params[:id]) %>
            </div>
        </div>
    </div>

</body>
