<div id="<%= dom_id evento %>">
  <p>
    <strong>Eventname:</strong>
    <%= evento.eventName %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= evento.description %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= evento.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= evento.end_time %>
  </p>

</div>
