<div class="formulario">
    <%= form_with url: redirect_path, model: @evento do |us|%>
      <% @evento.errors.full_messages.each do |error|%>
          <div style="color: red">
            <%= error %>
            <br>
          </div>
        <%end%>


      <div>
        <%= us.label :eventName, "Event name: ", style: "display: block" %>
        <%= us.text_field :eventName, class: 'texto' %>
      </div>

      <div>
        <%= us.label :description, style: "display: block" %>
        <%= us.text_field :description, class: 'texto' %>
      </div>

      <div>
        <%= us.label :dia, "Event day: ", style: "display: block" %>
        <%= us.date_field :dia , class: 'fechas'%>
      </div>
      <br>

      <div>
        <%= us.label :start_time, "Start at: ", style: "display: block" %>
        <%= us.time_select :start_time,
          :combined => true,
          :minute_interval => 10,
          :time_separator => "",
          class: 'fechas'
        %>
      </div>
      <br>

      <div>
        <%= us.label :end_time, "End at: ", style: "display: block" %>
        <%= us.time_select :end_time,
          :combined => true,
          :minute_interval => 10,
          :time_separator => "",
          class: 'fechas'
        %>
      </div>
      <br>

      <div>
        <%= us.label :plazoDeTiempo , "The duration of the meeting: ", style: "display: block" %>
        <%= us.time_select :plazoDeTiempo,
          :combined => true,
          :minute_interval => 10,
          :time_separator => "",
          class: "fechas"
        %>
      </div>
      <br>

      <div>
        <%= us.submit %>
      </div>
      <br>
      <%if params[:id1] %>
        <%= link_to "View this event and the reservations", evento_path%>
      <%end%>
    <%end%>
  </div>
