<div class="formulario">
    <%= form_with url: redirect_path, model: @evento do |us|%>
      <% @evento.errors.full_messages.each do |error|%>
          <div style="color: red">
            <%= error %>
            <br>
          </div>
        <%end%>


      <div>
        <%= us.label :eventName, "Nombre del evento :", style: "display: block" %>
        <%= us.text_field :eventName, class: 'texto' %>
      </div>

      <div>
        <%= us.label :description, "La descripcion", style: "display: block" %>
        <%= us.text_field :description, class: 'texto' %>
      </div>

      <div>
        <%= us.label :dia, "El dia del evento es:", style: "display: block" %>
        <%= us.date_field :dia , class: 'fechas'%>
      </div>
      <br>

      <div>
        <%= us.label :start_time, "Empieza:", style: "display: block" %>
        <%= us.time_select :start_time,
          :combined => true,
          :minute_interval => 10,
          :time_separator => "",
          class: 'fechas'
        %>
      </div>
      <br>

      <div>
        <%= us.label :end_time, "Termina:", style: "display: block" %>
        <%= us.time_select :end_time,
          :combined => true,
          :minute_interval => 10,
          :time_separator => "",
          class: 'fechas'
        %>
      </div>
      <br>

      <div>
        <%= us.label :plazoDeTiempo , "Plazo de las reuniones:", style: "display: block" %>
        <%= us.time_select :plazoDeTiempo,
          :combined => true,
          :minute_interval => 10,
          :time_separator => "",
          class: "fechas"
        %>
      </div>
      <br>

      <div>
        <%= us.submit %>
      </div>
      <%if params[:id1] %>
        <%= link_to "Ver Evento y sus reservas", evento_path%>
      <%end%>
    <%end%>
  </div>
