
<%= form_with model: @evento do |us|%> 
  <div>
    <%= us.label :eventName, style: "display: block" %>
    <%= us.text_field :eventName %>
  </div>

  <div>
    <%= us.label :description, style: "display: block" %>
    <%= us.text_field :description %>
  </div>

  <div>
    <%= us.label :start_time, style: "display: block" %>
    <%= us.datetime_field :start_time %>
  </div>

  <div>
    <%= us.label :end_time, style: "display: block" %>
    <%= us.datetime_field :end_time %>
  </div>
  <div>
    <%= us.submit %>
  </div>
      
<%end%>

