<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizacion Eventos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f4f8;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #3a6ea5;
            padding: 20px;
            text-align: center;
            color: white;
        }
        
        .container{
          max-width: max-content;
          max-height: max-content;
          margin: 20px auto;
        }

        .Evento,
        .Reserva {
            background-color: white;
            margin: 20px auto;
            border-radius: 50px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 80px;
            height: 100%;
            width: 100%;
        }

        .Reserva {
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        <%= "Aca tenemos al : #{@evento.eventName}" %>
    </header>
    <div class="container">
        <div class="Evento">
            <h1><%= @evento.eventName %></h1>
            <h2><%= @evento.description %></h2>
            <p><%= @evento.dia %></p>
            <p><%= @evento.start_time %></p>
            <p><%= @evento.end_time %></p>
            <p><%= @evento.plazoDeTiempo %></p>
            <h3>Comparte este link para que reserven un turno: <%= link_to reservas_path,:reservas, class: "index-link" %></h3>
        </div>
        <div class="Reserva">
            <% @reservas.each do |reserva|%>
                <div style="color: green">
                    <ul>
                        <li>
                            <h2>Tenes una reserva a nombre de este correo: <%= reserva.email %></h2>
                            <h2>A partir de este horario:<%= reserva.horario.strftime("%H-%M") %></h2>
                        </li>
                    </ul> 
                </div>
                
            <% end %>
        </div>
    </div>
</body>
</html>