<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Usuarios con Calendario</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f4f8;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #3a6ea5;
            padding: 20px;
            text-align: center;
            color: white;
        }

        .redireccion {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 4px;
        }

        .redireccion:hover {
            background-color: #45a049;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 80px);
            margin: 10px auto;
        }

        .calendar {
            background-color: white;
            border-radius: 50px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 40px;
            width: 100%;
            max-width: max-content;
        }
        .calendar table {
            width: 100%;
            border-collapse: collapse;
        }

        .calendar th,
        .calendar td {
            padding: 10px;
            text-align: center;
            border: 1px solid #e0e0e0;
        }

        .calendar th {
            background-color: #3a6ea5;
            color: white;
        }

        .calendar td:hover {
            background-color: #e0f0ff;
        }

        .calendar .selected {
            background-color: #3a6ea5;
            color: white;
        }

        .calendar .today {
            background-color: #a5c9e0;
            font-weight: bold;
        }
        .dia {
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 15px;
        }
        .dia:hover {
            background-color: #a5c9e0;
            cursor: pointer;
        }
        .reunion {
            color: black;
            text-align: center;
            background-color: #e0f0ff;
            border-radius: 4px;
            padding: 5px;
        }
        .container2 {
            text-align: center;
            background-color: white;
            margin: 10px auto;
            border-radius: 100px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 10px;
            width: 50%;
        }
    </style>
</head>
<body>
    <header>
        <%= "Bienvenido #{@user.name}" %>
    </header>
    <%= link_to "New event", new_evento_path, class: "btn btn-primary redireccion" %>
    <div class="container">
        <div class="calendar">
            <%= month_calendar(events: @eventos) do |date, eventos| %>
              <%= link_to date.day, new_evento_path, class: "btn btn-primary dia" %>
              <% @eventos.each do |evento| %>
                <%if date.day == evento.dia.day && date.month == evento.dia.month %>

                    <div class="reunion">
                        <%= link_to edit_evento_path(id1: evento.id), class: "btn btn-primary dia" do %>
                            <div class="nombre">
                                <%= evento.eventName %>
                            </div>
                            <div class="horaInicio">
                                Desde:<%= evento.start_time.strftime("%H-%M") %>
                            </div>
                            <div class="horaFinal">
                                Hasta:<%= evento.end_time.strftime("%H-%M") %>
                            </div>
                        <% end %>
                    </div>
                <% end %>
              <% end %>
            <% end %>
        </div>
    </div>
    <div class= "container2">
        <h2>Reservaste a los siguientes eventos:</h2>
        <% @eventoYReservas.each do |reserva,evento| %>
            <%= link_to edit_reserva_path(id1: evento.id,id2: reserva.id), class: "btn btn-primary dia" do %>
                <div style="color: green">
                    <ul>
                        <li>
                            <h3>Nombre: <%= evento.eventName %></h3>
                            <p>El dia: <%= evento.dia.strftime("%d-%B-%Y") %></p>
                            <p>Desde las: <%= reserva.horario.strftime("%I-%M %p") %></p>
                            <p>La duracion de la reunion sera de: <%= evento.plazoDeTiempo.strftime("%H hs ; %M min") %></p>
                        </li>
                    </ul>
                </div>
            <% end %>
        <% end %>
    </div>
</body>
</html>
