<head>
  <title>Register validation</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f1f1f1;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 400px;
      margin: 100px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
      text-align: center;
    }

    .texto {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    input[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #4caf50;
      border: none;
      color: #fff;
      cursor: pointer;
      border-radius: 3px;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Registro de usuario</h2>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
      <%= value %>
      </div>
    <%end%>
    <%= form_with url: create_user_path ,model:@user do |us|%>
      <% @user.errors.full_messages.each do |error|%>
        <div>
          <%= error %>
        </div>
      <%end%>
      <div>
        <%= us.label :name %>
        <%= us.text_field :name, class: "texto" %>
      </div>

      <div>
        <%= us.label :surname %>
        <%= us.text_field :surname, class: "texto" %>
      </div>

      <div>
        <%= us.label :email %>
        <%= us.email_field :email, class: "texto" %>
      </div>

      <div>
        <%= us.label :password %>
        <%= us.password_field :password, class: "texto" %>
      </div>

      <%= us.submit %>

    <%end%>
    <div></div>
  </div>
</body>
</html>
