<head>
  <title>Log in verificated</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f1f1f1;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 400px;
      margin: 100px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
      text-align: center;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    input[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #4caf50;
      border: 2px solid #ccc;
      color: #fff;
      cursor: pointer;
      border-radius: 3px;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }

    .index-link[type="index-link"] {
      width: 100%;
      color: blue;
      padding: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Log In user</h2>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
      <%= value %>
      </div>
    <%end%>
    <%= form_with model:@User do |us|%> 
      
      <div>
        <%= us.label :email %>
        <%= us.text_field :email %>
      </div>

      <div>
        <%= us.label :password %>
        <%= us.text_field :password %>
      </div>

      <%= us.submit %>
      <%= link_to "¿No te has registrado aun?", :new_user, class: "index-link" %>
    <%end%>
</body>
